body {
    background: url("../images/photo_bg.jpg") no-repeat center center fixed;
    background-size: cover;
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    margin: 0;
    color: #666;
}

/* Typography */
h1#title {
    font-family: 'Roboto Slab', serif;
    font-weight: 300;
    font-size: 3.2em;
    color: white;
    text-shadow: 0 0 10px rgba(0,0,0,0.8);
    margin: 0 auto;
    padding-top: 50px;
    max-width: 300px;
    text-align: center;
    position: relative;
    top: 0px;
}

.logout {
    position: absolute;
    top: 20px;
    right: 20px;
}

.img-container {
    display: flex;
    flex-direction: column;
}
.button-container {
    display: flex;
    justify-content: center;
}
button {
    border: 0;
    border-radius: 2px;
    color: white;
    padding: 10px;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 0.7em;
    letter-spacing: 1px;
    background-color: #665851;
    cursor:pointer;
    outline: none;
    margin:10px;
}

button:hover {
    opacity: 0.7;
    transition: 0.5s;
}


.edit-container {
    display: flex;
    justify-content: center;
    align-items:center;
}

.arrow {
    height:100px;
    cursor: pointer;
}

.edit-container .actions {
    width: 150px;
    display: flex;
    flex-direction: column;
}
.edit-container textarea {
    width: 300px;
    height: 300px;
}

form {
    display: flex;
    flex-direction: column;
    width: 35%;
}

form label {
    font-family: 'Roboto Slab', serif;
    font-weight: 300;
    font-size: 25px;
    color: black;
    text-shadow: 0 0 10px rgba(0,0,0,0.8);
    margin-right: 15px;
}

form input {
	width: 50%;
}

.form-element {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
}

h1#title span span {
    font-weight: 400;
}
/* Animation Delay */
#image {
    -webkit-animation-duration: 1s;
    -webkit-animation-delay: 2s;
}

